* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 5vh;
    width: 95%;
    position: absolute;
    top: 2%; /* ou outro valor desejado */
    left: 50%;
    transform: translateX(-50%);

    background-color: #ed1650;
    color: white;
    text-align: center;

    border: black solid 2px;
    border-radius: 90px 10px 90px 10px;
    box-shadow: 5px 5px black;
}

.main_div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.decoder_input, 
.decoder_output {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.decoder_input {
    height: 100vh;
    flex-direction: row;
    background-image: linear-gradient(to left, rgba(237, 22, 80, 0.5), rgba(0, 0, 0, 0.5)),
        url("../resources/white-texture.jpg");
    background-size: cover;
    background-position: center;
}

.decoder_output {
    flex-direction: column;
    background-color: rgb(210, 210, 210);

    padding-bottom: 30px;
}

/* .logo e .input compartilham 50% da largura */
.logo, 
.input {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 40%;
}

.input {
    width: 60%;
    flex-direction: column;
}

@keyframes floatAndScale {
    0% {
      transform: translateY(0) scale(1);
    }
    50% {
        transform: translateY(-20px) scale(1.1);
    }
    100% {
        transform: translateY(0) scale(1);
    }
}

.logo img {
    animation: floatAndScale 8s ease-in-out infinite;
    height: 50%;
    position: relative;
    left: 15%;
    width: auto;
}

.input textarea, 
.input button {
    width: 65%;
    font-family: Arial, Helvetica, sans-serif;
}

.input textarea {
    height: 60%;
    font-size: 12px;
    text-transform: uppercase;
    resize: none;

    border: black solid 3px;
    border-radius: 8px;
    transition: all .3s ease-in-out;

    /* Para aumentar o espaçamento entre a fonte interna*/
    padding: 12px 16px 12px 16px; /* top, right, bottom, left */
}

.input textarea:focus{
    outline: none;
    box-shadow: none;
}

.input button {
    height: 4%;
    width: 30%;
    margin-top: 20px;
    background-color: transparent;
    
    border: #ed1650 solid 2px;
    background-color: #ed1650;
    color: white;
    border-radius: 90px 10px 90px 10px;
    font-size: 1.2rem;
    font-weight: 900;

    box-shadow: 5px 5px black;

    transition: all .2s ease-in-out;
}

.input button:hover{
    color: white;
    box-shadow: 10px 10px black;
    border: black solid 2px;
}


.last_mod {
    margin-top: 30px;
    width: 80%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.allEditors,
.lastEditor{
    text-align: center;

    border: #2a0089 solid 2px;
    border-radius: 10px;
    background-color: #f2f2f2;
    box-shadow: 5px 5px #2a0089;
    
    margin: 10px;
    width: 45%;
}

.allEditors h1, 
.lastEditor h1 {
    border-radius: 7px 7px 0px 0px;
    text-align: center;
    width: 100%;
    background-color: #ed1650;
    color: white;

    margin: 0; /* remove espaços extras acima do h1 */
    padding: 3px; /* opcional: dá um respiro ao texto */
}

.allEditors p,
.lastEditor p
{padding: 8px;}

.lastEditor {height: 200px;}

.divBlocks {
    margin-top: 30px;
    width: 90%;

    display: flex;
    flex-wrap: wrap; /* permite quebrar linha */
    align-items: center;
    gap: 20px; /* espaçamento entre os cards (opcional) */
}

.divBlocks .divBlock {
    border: #2a0089 solid 2px;
    border-radius: 10px;
    background-color: #f2f2f2;
    width: 20%;

    flex: 1 0 calc(33.333% - 20px); /* 3 cards por linha, ajustando o gap */
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

    box-shadow: 5px 5px #2a0089;
}

.divBlocks .divBlock h3{
    border-radius: 0px 0px 7px 7px;
    font-size: 1.4rem;

    text-align: center;
    background-color: #2a0089;
    color: white;

    margin-top: auto;
    padding: 3px;
}

.divBlocks .divBlock p{
    padding: 3px;
    margin-top: auto;
}